[submodule "src/screens/submodules/DonateModules"]
	path = src/screens/submodules/DonateModules
	url = https://github.com/Hezhykeyhel/DonateModule.git
[submodule "src/submodules/src/submodules/DonateModules"]
	path = src/submodules/src/submodules/DonateModules
	url = https://github.com/Hezhykeyhel/DonateModule.git
