[submodule "submodules/DonateModules"]
	path = submodules/DonateModules
	url = https://github.com/Hezhykeyhel/DonateModules.git
[submodule "submodules/ihealth_about"]
	path = submodules/ihealth_about
	url = https://github.com/idyWilliams/ihealth_about.git
